<!-- <mat-sidenav-container >
  <mat-sidenav #sidenav opened="true" mode="side">
    <mat-nav-list >
      <a mat-list-item class="fitdiv"> <mat-icon>search</mat-icon>Material Catalogue Search</a>
      <a mat-list-item class="fitdiv"> <mat-icon>query_stats</mat-icon>Material Request Monitor</a>
      <a mat-list-item class="fitdiv"> <mat-icon>add_task</mat-icon>Material Creation Request</a>
      <a mat-list-item class="fitdiv"> <mat-icon>post_add</mat-icon>Batch Material Creation</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> Material Request Monitor</mat-sidenav-content>
  <mat-sidenav-content>Material Catalogue Search</mat-sidenav-content> -->

<!-- </mat-sidenav-container> --> 

<ul>
  <li routerLinkActive="active current"><a routerLink="">
    <span><mat-icon >search</mat-icon></span> 
    <span> Material Catalogue Search</span>
  </a>
  </li>

  <li><a routerLink="/creation-requests">
    <span><mat-icon>query_stats</mat-icon></span> 
    <span> Material Request Monitor</span>
  </a>
  </li>
  <li><a routerLink="/new-creation">
    <span><mat-icon>add_task</mat-icon></span> 
    <span> Material Creation Request</span>
  </a>
  </li>
  <li><a routerLink="/batch-creation">
    <span><mat-icon>post_add</mat-icon></span> 
    <span>Batch Material Creation</span>
  </a>
  </li>
</ul>