/* mat-sidenav-container {
  height: 100%;
  color: aliceblue;
  

}
mat-sidenav,mat-sidenav-content{
  padding:16px;

}
mat-sidenav{

  width: 200px;
  color: aliceblue;
  background-color:#292839;
}

a{
  height: auto;
  width:400px;
  white-space:normal ;
  text-decoration: none;
  
} */
 ul{
  margin: 64px 0 0 0;
  padding: 0;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color:rgb(48, 48, 75);
  box-shadow:0 2px 12px rgba(0, 0, 0, 0.05);
 }

 a{
  padding: 5px 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(213, 213, 243);
  transition: 0.2s ease-in-out;
  margin-bottom: 24px;
 }
 a:hover{
  background-color: rgb(69, 69, 113);
  color: rgb(255, 255, 255);

 }

 mat-icon{
  /* background:rgb(48, 48, 75); */
  color:rgb(192, 192, 243);
  border-radius:10%;
  padding:5px;
  font-size:16px;
  display: flex;
  align-items: center;

 }
 
