<body>
  <div class="component-container">
    <div class="component-tittle">
      <h2>
        <mat-icon>tasks</mat-icon>Tasks
      </h2>
    </div>
    <!-- <div class="showcase"> -->
    <div class="tasks-container">
      <div class="section-tittle">
        <h3>
          <mat-icon>add_task</mat-icon> Available Tasks
        </h3>
      </div>

      <div class="tasks-card">
        <div class="task-header">
          <p>Submit Material Creation Request</p>
          <p>A Material Creation Request that you have initiated requires your attention for completion or review.</p>
        </div>
        <div class="task-body">
          <div class="task-detail">
            <div class="task-avatar">
              <img src="../../../../../assets/settingsAvatar.svg" alt="../../../../../assets/settingsAvatar">
              <p>KEPHA</p>
            </div>
            <div class="task-description">
              <p>Status: Started </p>
              <p>Priority: Very High</p>
              <p>Request Number: M-REQ-000209080</p>
              <p>Short Format Description: BRNG LINR MTN;</p>
              <p>Initiated By User: KEPHA KIBET</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
