.component-container{
  position: fixed;
  width: 80%;
  height: 100%;
  background-color:#F0FEFF; 
  overflow: hidden;
  } 
h2{
  display:flex;
  justify-content:flex-start ;
  text-decoration:none ;
  font-weight: bold;
  margin-left:20px;
}
img{
  padding: 5px;
  height: 50px;
}
.section-tittle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  height: 35px;
  margin:10px;
  background-color:#D9D9D9;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.request-record{
  display: flex;
  flex-direction: column;
  background-color: #FEFEFE;
  border:solid 1px rgb(158, 158, 158);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  border-radius: 3px;
  overflow-y: auto;  
  height:63%;
  padding:20px;  
}
.form-container{
display: flex;
flex-direction: column;
padding: 20px;
}

label{
  font-size: 1rem;
  margin:15px 5px 5px 10px;
  font-weight:bold;
}

.input{
  padding:12px;
  width: 95%;
  margin: 15px;
  background-color: #F0FEFF;
  border:1px solid #A19F9F;
  border-radius: 5px;
  }
  
 .submit{
    cursor: pointer;
    padding: 12px ;
    width:40%;
    margin:40px 0 0 10px;
    background-color: #7F8BFA;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  .submit:hover{
    color: #053941;
    background-color:white;
    border:1px solid #053941;
  }
  
  
  button:disabled{
    background-color: rgb(160, 160, 160);
  } 
  
 

 