<div class="search-component">
  <h2><mat-icon class="section-tittle">add_task</mat-icon> Material Creation Request</h2>
<div class="showcase">
  <div class="search-results-container">
  <form [formGroup]="newMaterialForm" class="form-container">
      <mat-label>ERP Number</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input formControlName="ERPNumber" matInput placeholder="ERP Number">
            </mat-form-field>
            <mat-label>Descriptor</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input  formControlName="descriptor" matInput placeholder="Enter Descriptor i.e Bearing, Shaft">
            </mat-form-field>
            <mat-label>Specifications</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <textarea  formControlName="specifications" matInput placeholder="Enter material specifications ie lenghth, diameter, make..."></textarea>
            </mat-form-field>
        <button (click)="submitForm()"
        color="primary"
        class="submitbtn"
        mat-button
        type="submit"
         >
         Submit</button>
</form>
</div>
</div>






    <!-- <div class="search-results-container">
    </div> -->
    <!-- <form [FormGroup]="newMaterialForm"
    (ngSubmit)="onNewMaterialCreation(newMaterialForm)">
        <mat-form-field appearance="outline">
          <mat-label>ERP Number</mat-label>
          <input
            ngModel
            matInput
            required
            id="ERPNumber"
            name="ERPNumber"
            type="text"
            #descriptor="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">

          <mat-label>Specifications</mat-label>
          <input
            ngModel
            matInput
            required
            id="descriptor"
            name="descriptor"
            type="text"
            #descriptor="ngModel"
          />
          <mat-error *ngIf="descriptor.invalid ">
            Descriptor is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Specifications</mat-label> 
          <input
            ngModel
            matInput
            required
            id="specifications"
            name="specifications"
            type="text"
            #specifications="ngModel"
          />
          <mat-error *ngIf="specifications.invalid ">
            Specifications is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <button
      class="submitbtn"
        mat-button
        type="submit"
        mat-raised-button
        [disabled]="newMaterialForm.invalid"
      > -->
        

</div>