<div class="search-component">
  <h2><mat-icon class="section-tittle">add_task</mat-icon> Material Creation Request</h2>
<div class="showcase">
<form #newMaterialForm="ngForm" (ngSubmit)="onNewMaterialCreation(newMaterialForm)">
  <div class="form-group">
    <label for="ERPNumber">ERP Number</label>
    <br>
    <input 
    type="text" 
    name="ERPNumber" 
    class="form-control" 
    ngmodel 
    required  
    matInput 
    >
    <!-- <div *ngIf="ERPNumber.touched && ERPNumber.invalid"></div> -->
  </div>
  <pre></pre>
  <div class="form-group">
    <label for="descriptor">Descriptor</label>
    <br>
    <input type="text" name="descriptor" class="form-control" ngmodel required matInput>
  </div>
  <pre></pre>
  <div class="form-group">
    <label for="specifications">Specifications ie dimensions, material...</label>
    <br>
    <input type="text" name="specifications" class="form-control" ngmodel required  matInput >
  </div>
  <pre></pre>
  <button
      class="submitbtn"
        mat-button
        type="submit"
        > 
        Submit
  </button>
</form>






    <!-- <div class="search-results-container">
    </div> -->
    <!-- <form [FormGroup]="newMaterialForm"
    (ngSubmit)="onNewMaterialCreation(newMaterialForm)">
        <mat-form-field appearance="outline">
          <mat-label>ERP Number</mat-label>
          <input
            ngModel
            matInput
            required
            id="ERPNumber"
            name="ERPNumber"
            type="text"
            #descriptor="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">

          <mat-label>Specifications</mat-label>
          <input
            ngModel
            matInput
            required
            id="descriptor"
            name="descriptor"
            type="text"
            #descriptor="ngModel"
          />
          <mat-error *ngIf="descriptor.invalid ">
            Descriptor is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Specifications</mat-label> 
          <input
            ngModel
            matInput
            required
            id="specifications"
            name="specifications"
            type="text"
            #specifications="ngModel"
          />
          <mat-error *ngIf="specifications.invalid ">
            Specifications is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <button
      class="submitbtn"
        mat-button
        type="submit"
        mat-raised-button
        [disabled]="newMaterialForm.invalid"
      > -->
        
  </div>
</div>