<body>
  <div class="component-container">
    <div class="component-tittle">
      <h2>
        <mat-icon>notifications</mat-icon>Notifications
      </h2>
    </div>
    <!-- <div class="showcase"> -->
    <div class="notifications-container">
      <div class="section-tittle">
        <h3>
          <mat-icon>notifications</mat-icon> Available Notifications
        </h3>
      </div>

      <div class="notification-card">
        <p>Interface Success:M00012345</p>

        <p>Description : A new Material Creation request M-REQ-209080 has been succesfully
          finalized and transferred to ERP</p>
        <p>Material Description : BEARING, BALL; OCM P/N: 5375-31E SKF</p>
      </div>


    </div>
  </div>

</body>
