<!-- <div class="search-component">
  <h2><mat-icon class="section-tittle">add_task</mat-icon> Material Creation Request</h2>
<div class="showcase">
  <div class="search-results-container">
  <form  class="form-container" >
      <mat-label>ERP Number</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input  matInput placeholder="ERP Number" [(ngModel)]="materialObj.ERPNumber" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-label>Descriptor</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <input   matInput placeholder="Enter Descriptor i.e Bearing, Shaft" [(ngModel)]="materialObj.descriptor" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-label>Specifications</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <textarea   matInput placeholder="Enter material specifications ie lenghth, diameter, make..." [(ngModel)]="materialObj.specification" [ngModelOptions]="{standalone: true}">
                </textarea>
            </mat-form-field>
        <button (click)="addMaterial()"
        color="primary"
        class="submitbtn"
        mat-button
        type="submit"
         >
         Submit</button>
   </form>
  </div>
 </div>
</div> -->
