*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

body {
  background-color: #F0FEFF;

}

/*  login container*/
.login-container{
  height: 694px;
  width: 533px;
  margin: auto;
  margin-top:50px;
  border-radius: 2px;
  background-color: rgb(251, 251, 251);
  box-shadow:0px 3px 5px #A19F9F;
}
.logo{
  text-align: center;
}
h2{
  margin:40px 10px 0px 10px;
}

/* login form */
.login-form{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(251, 251, 251);
}
small{
  color: red;
  margin-left: 15px;
  font-weight: bold;
}
.login-form label{
  font-size: 1rem;
  margin:40px 10px 0px 10px;
  font-weight:bold;
}

.input{
padding:12px;
width: 95%;
margin: 15px;
background-color: #F0FEFF;
border:1px solid #A19F9F;
border-radius: 5px;
}

#submit{
  cursor: pointer;
  padding: 12px ;
  width:40%;
  margin:30px 0 0 10px;
  background-color: #7F8BFA;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

#submit:hover{
  color: #053941;
  background-color:white;
  border:1px solid #053941;
}


button:disabled{
  background-color: rgb(160, 160, 160);
} 

@media only screen and (max-width: 600px) {
  .login-container{
    width: 80%;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:center;
  }
}