<!-- nav bar -->
<mat-toolbar class="mat-elevation-z4">
  <span class="header">
    <img src="../../../../assets/logo.svg" style="height:58px;width:170px;">
  </span>

  <div class=" nav-spacer"></div>

  <a mat-button routerLink="/tasks">
    <mat-icon class="mat-icon">view_list</mat-icon>
  </a>
  <a matTooltip="Info about the action" mat-button routerLink="/get-started">
    <i matTooltip="This is simple Tooltip"></i>
    <mat-icon class="mat-icon">info</mat-icon>
  </a>
  <a class="hover-anchor" [satPopoverAnchor]="p" (mouseenter)="p.open()" mat-button routerLink="/notifications"
    [satPopoverAnchor]="p" (mouseenter)="p.open()" (mouseleave)="p.close()">
    <i>Add your Tooltip here</i>
    <mat-icon class="mat-icon">notifications</mat-icon>
  </a>
  <a mat-button routerLink="/account-settings">
    account settings
  </a>

  <div class="hover-anchor" [satPopoverAnchor]="p" (mouseenter)="p.open()">
    Hover me
  </div>
  <sat-popover #p horizontalAlign="after" hasBackdrop>
    <div class="tooltip-wrapper">
      Multi-line <br />
      <i>Add your Tooltip here</i>
      <br />
    </div>
  </sat-popover>

</mat-toolbar>

<!-- sidebar -->
<ul>
  <li><a routerLink="/material-catalogue-search" [routerLinkActive]="['active']">
      <span>
        <mat-icon class="nav-icon">search</mat-icon>
      </span>
      <span> Material Catalogue Search</span>
    </a>
  </li>

  <li><a routerLink="/request-monitor" routerLinkActive="active">
      <span>
        <mat-icon class="nav-icon">query_stats</mat-icon>
      </span>
      <span> Material Request Monitor</span>
    </a>
  </li>
  <li><a routerLink="/material-creation" routerLinkActive="active">
      <span>
        <mat-icon class="nav-icon">add_task</mat-icon>
      </span>
      <span> Material Creation Request</span>
    </a>
  </li>
  <!-- <li><a routerLink="/batch-creation">
      <span>
        <mat-icon>post_add</mat-icon>
      </span>
      <span>Batch Material Creation</span>
    </a>
  </li> -->
</ul>

<!-- RENDER MAIN LAYOUTS -->

<body>
  <div class="main-layout">
    <router-outlet></router-outlet>
  </div>

</body>
