mat-toolbar{
  position: fixed;
}

.nav-spacer{
  flex: 1 1 auto;
}

.header{
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
}

a:hover{
  color:rgb(192, 192, 243) ;
  background-color: rgb(60, 60, 91);
}
.onHoverTasks{
  visibility: hidden;
}
.tasksIcon ~ .onHoverTasks{
  visibility: visible;
}

