<body>
  <div class="login-container">
    <div class="logo"> <img src="../../../../assets/logo.svg"></div>
    <h2>MDM Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
      <label> Email</label>
      <input formControlName="email" type="email" class="input">
      <small *ngIf="!loginForm.valid && loginForm.value.email">enter a valid email
      </small>
      <label> Password</label>
      <input formControlName="password" type="password" class="input">
      <button id="submit" [disabled]="!loginForm.valid || !loginForm.value.password">Login</button>
    </form>
  </div>
</body>
