<!--<mat-card class="login-container">
  <mat-card-header class="login-logo">
    <img src="../../../../assets/logo.svg">
  </mat-card-header>
  <mat-card-content class="login-content">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">
      <label> Email</label>
      <input formControlName="email" type="email" class="input">
      <small *ngIf="!loginForm.valid && loginForm.value.email">enter a valid email
      </small>
      <label> Password</label>
      <input formControlName="password" type="password" class="input">
      <button id="submit" [disabled]="!loginForm.valid || !loginForm.value.password">Submit</button>
    </form>
  </mat-card-content>
 
  <mat-card-actions></mat-card-actions>

</mat-card> 
-->

<body>
  <div class="login-container">
    <div class="logo"> <img src="../../../../assets/logo.svg"></div>
    <h2>MDM Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
      <label> Email</label>
      <input formControlName="email" type="email" class="input">
      <small *ngIf="!loginForm.valid && loginForm.value.email">enter a valid email
      </small>
      <label> Password</label>
      <input formControlName="password" type="password" class="input">
      <button id="submit" [disabled]="!loginForm.valid || !loginForm.value.password">Login</button>
    </form>
  </div>
</body>
